<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Video Center{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
        {% block javascripts %}
                {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
        {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

    {# Навигация #}
    {{ include('layouts/partials/_nav.html.twig') }}

    {# Контент #}
    <main class="flex-fill container my-4">
        {{ include('layouts/partials/_flash.html.twig') }}
        {% block body %}{% endblock %}
    </main>

    {# Футер #}
    {{ include('layouts/partials/_footer.html.twig') }}

    <button id="backToTop" title="Haut de page">⇧</button>
                     <script src="{{ asset('js/navbar.js') }}"></script>
                    <script src="{{ asset('js/backToTop.js') }}"></script>

                    
    </body>
</html>
